/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.phpstorm.meta.php
dcat_admin_ide_helper.php
/public/uploads
/public/upload
.idea
/public/robots.txt
/public/sitemap.xml
dcat-admin-extensions
/public/google*
/storage/framework/laravel-excel
/public/page-cache
_ide_helper.php
/public/data
