.about{
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 30px;
    .pagebox{
        position: relative;
        z-index: 1;
        height: 200px;
        @media screen and (max-width: 1024px) {
            height: 80px;
        }
        .page-title{
            font-size: 80px;
            font-weight: 700;
            font-style: italic;
            position: absolute;
            top: 40%;
            left: 50%;
            transform: translate(-50%, -50%);
            /* transition: top 0.3s ease-in-out; */
            text-align: center;
            color: rgb(255, 255, 255);
            white-space: nowrap;
            letter-spacing: 2px;
            animation: page-tilte 3s cubic-bezier(0, 0, 0, 1);
            animation: shift 1s ease-in-out infinite alternate;
            opacity: 1;
            @media screen and (max-width: 1024px) {
                font-size: 40px;
            }
            &:before,
            &:after {
                display: block;
                content: attr(data-page-title);
                position: absolute;
                top: 0;
                left: 0;
                opacity: 0.8;
            }

            &:before {
                animation: page-title 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite;
                color: #8b00ff;
                z-index: -1;
            }

            &:after {
                animation: page-title 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse both infinite;
                color: #00e1e5;
                z-index: -2;
            }
            @keyframes page-title {
                0% {
                    transform: translate(0);
                }

                20% {
                    transform: translate(-3px, 3px);
                }

                40% {
                    transform: translate(-3px, -3px);
                }

                60% {
                    transform: translate(3px, 3px);
                }

                80% {
                    transform: translate(3px, -3px);
                }

                to {
                    transform: translate(0);
                }
            }

            @keyframes shift {
                    0%, 40%, 44%, 58%, 61%, 65%, 69%, 73%, 100% {
                        transform: translate(-50%, -50%) rotateX(0deg) skewX(0deg);
                    }

                    41% {
                        transform: translate(-50%, -50%) rotateX(10deg) skewX(10deg);
                    }

                    42% {
                        transform: translate(-50%, -50%) rotateX(-10deg) skewX(-10deg);
                    }

                    59% {
                        transform: translate(-50%, -50%) rotateX(20deg) rotateY(10deg) skewX(20deg) skewY(10deg);
                    }

                    60% {
                        transform: translate(-50%, -50%) rotateX(-20deg) rotateY(-10deg) skewX(-20deg) skewY(-10deg);
                    }

                    63% {
                        transform: translate(-50%, -50%) rotateX(10deg) rotateY(-5deg) skewX(-10deg) skewY(-5deg);
                    }

                    70% {
                        transform: translate(-50%, -50%) rotateX(-20deg) rotateY(-20deg) skewX(-20deg) skewY(-20deg);
                    }

                    71% {
                        transform: translate(-50%, -50%) rotateX(10deg) rotateY(-10deg) skewX(10deg) skewY(-10deg);
                    }
            }
        }
    }
    .card {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgb(0, 0, 0);
        border-radius: 30px;
        border: none;
        position: relative;
        padding: 60px;
        transition-duration: .2s;
        background: linear-gradient(0deg, #000, #272727);
        @media screen and (max-width: 1024px) {
            padding: 30px;

        }
        &:before, &:after {
            content: '';
            position: absolute;
            left: -2px;
            top: -2px;
            border-radius: 30px;
            background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00,#ffff00, #ff0000, #fb0094, #0000ff, #00ff00,#ffff00, #ff0000);
            background-size: 400%;
            width: calc(100% + 4px);
            height: calc(100% + 4px);
            z-index: -1;
            animation: steam 20s linear infinite;
        }


        @keyframes steam {
            0% {
                background-position: 0 0;
            }

            50% {
                background-position: 400% 0;
            }

            100% {
                background-position: 0 0;
            }
        }

        &:after {
            filter: blur(10px);
        }
        p{
            color: white;
            font-weight: 500;
        }
    }


    .aboutus{

        h2{
            font-size: 28px;
            background-image: -webkit-linear-gradient(45deg,  #ff9797,#9d76ff);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            -webkit-background-size: 100%;
            text-align: center;
            margin-top: 10%;
            margin-bottom: 5%;
            @media screen and (max-width: 1024px) {


            }
        }
        h3,h4,h5{
            margin-top: 10%;
            margin-bottom: 2%;
            color: #fff;
            font-size: 20px;
            text-align: center;
        }
    }



}


.faq{
    margin-top: 200px;
    .pagebox{
        position: relative;
        z-index: 1;
        height: 200px;
        @media screen and (max-width: 1024px) {
            height: 80px;
        }
        .page-title{
            font-size: 80px;
            font-weight: 700;
            font-style: italic;
            position: absolute;
            top: 40%;
            left: 50%;
            transform: translate(-50%, -50%);
            /* transition: top 0.3s ease-in-out; */
            text-align: center;
            color: rgb(255, 255, 255);
            white-space: nowrap;
            letter-spacing: 2px;
            animation: page-tilte 3s cubic-bezier(0, 0, 0, 1);
            animation: shift 1s ease-in-out infinite alternate;
            opacity: 1;
            @media screen and (max-width: 1024px) {
                font-size: 40px;
            }
            &:before,
            &:after {
                display: block;
                content: attr(data-page-title);
                position: absolute;
                top: 0;
                left: 0;
                opacity: 0.8;
            }

            &:before {
                animation: page-title 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite;
                color: #8b00ff;
                z-index: -1;
            }

            &:after {
                animation: page-title 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse both infinite;
                color: #00e1e5;
                z-index: -2;
            }
            @keyframes page-title {
                0% {
                    transform: translate(0);
                }

                20% {
                    transform: translate(-3px, 3px);
                }

                40% {
                    transform: translate(-3px, -3px);
                }

                60% {
                    transform: translate(3px, 3px);
                }

                80% {
                    transform: translate(3px, -3px);
                }

                to {
                    transform: translate(0);
                }
            }

            @keyframes shift {
                    0%, 40%, 44%, 58%, 61%, 65%, 69%, 73%, 100% {
                        transform: translate(-50%, -50%) rotateX(0deg) skewX(0deg);
                    }

                    41% {
                        transform: translate(-50%, -50%) rotateX(10deg) skewX(10deg);
                    }

                    42% {
                        transform: translate(-50%, -50%) rotateX(-10deg) skewX(-10deg);
                    }

                    59% {
                        transform: translate(-50%, -50%) rotateX(20deg) rotateY(10deg) skewX(20deg) skewY(10deg);
                    }

                    60% {
                        transform: translate(-50%, -50%) rotateX(-20deg) rotateY(-10deg) skewX(-20deg) skewY(-10deg);
                    }

                    63% {
                        transform: translate(-50%, -50%) rotateX(10deg) rotateY(-5deg) skewX(-10deg) skewY(-5deg);
                    }

                    70% {
                        transform: translate(-50%, -50%) rotateX(-20deg) rotateY(-20deg) skewX(-20deg) skewY(-20deg);
                    }

                    71% {
                        transform: translate(-50%, -50%) rotateX(10deg) rotateY(-10deg) skewX(10deg) skewY(-10deg);
                    }
            }
        }
    }
    .faqs{
        padding: 0 15px;
        @media screen and (min-width: 1px) and (max-width: 768px){
            margin-top: 40px;
        }


        ul{
            width: 1000px;
            margin: 0 auto;
            @media screen and (max-width: 1024px) {
                width: 98%;
            }
            li{
                padding: 32px;
                font-weight: bold;
                text-align: left;
                background-color: #262626;
                border-radius: 16px;
                cursor: pointer;
                margin-bottom: 32px;

                @media screen and (min-width: 1px) and (max-width: 768px){
                    padding: 16px 32px;
                    margin-bottom: 12px;
                }
                &:last-child{
                    margin-bottom: 0;
                }
                dt {
                    position: relative;
                    padding-right: 48px;
                    color: rgb(255, 255, 255);
                    .iconfont{
                        color: rgb(255, 255, 255);
                        display: block;
                        position: absolute;
                        top: 50%;
                        right: 0;
                        transform: translateY(-50%) rotateX(0deg);
                        transition: transform .5s ease;
                    }
                    &.on{
                        .iconfont {
                            transform: translateY(-50%) rotateX(180deg);
                            transition: transform .5s ease;
                        }
                    }
                }
                dd {
                    display: none;
                    margin-top: 32px;
                    padding: 32px;
                    background-color: #262626;
                    font-weight: 300;
                    color: rgb(255, 255, 255);
                    @media screen and (max-width: 1024px) {
                        margin-top: 16px;
                        padding: 16px;
                        font-size: 14px;
                    }
                }
            }
        }
    }
}

