.cases{
    margin-top: 120px;
    .cases-title{
        font-size: 35px;
        text-align: center;
        font-weight: 500;
        margin-bottom: 40px;
    }
    .list{
        display: flex;
        justify-content: space-between;
        @media screen and (max-width: 768px){
            flex-direction: column;
        }
        .item{
            width: 30%;
            max-width: 300px;
            outline: none;
            user-select: none;
            @media screen and (max-width: 768px){
                width: 100%;
                max-width: 260px;
                margin: 0 auto;
                margin-bottom: 40px;
            }
            flex-shrink: 0;
            .photo{
                width: 100%;
                padding-bottom: 100%;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                border-radius: 50%;
                margin: 0 auto;
            }
            .info{
                margin-top: 10px;
                text-align: center;
                .text{
                    color: #000;
                    margin-top: 6px;
                    font-size: 24px;
                    font-weight: 700;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .proper{
                        width: 24px;
                        height: 24px;
                        margin-left: 4px;
                    }
                }
            }
        }
    }
    .btn-box{
        width: 400px;
        height: 48px;
        margin: 0 auto;
        margin-top: 40px;
        @media screen and (max-width: 768px){
            width: 100%;

        }
    }
}

.proper{
    background-color: #00b135;
    color: #fff;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    i{
        font-size: 10px;
    }
}
