.bodyoverflow {
  overflow: hidden;
}
header {
  width: 100%;
  position: sticky;
  z-index: 99;
  top: 0;
  left: 0;
  background-color: #fff;
}
header .wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80px;
  max-width: 1400px;
  background-color: #fff;
  margin: 0 auto;
  border-bottom: transparent;
  box-sizing: content-box;
  z-index: 99;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  border-bottom: 1px solid #e5e5e5;
}
@media screen and (max-width: 768px) {
  header .wrapper {
    height: 72px;
    border-bottom: none;
  }
}
header .wrapper .logo-sec {
  margin-left: 12px;
  font-weight: 500;
  letter-spacing: 0;
}
header .wrapper .logo-sec .logo {
  width: 160px;
}
header .wrapper .logo-sec .searchtitle {
  font-size: 24px;
  font-weight: 500;
}
header .wrapper .logo-sec .phone {
  position: relative;
  left: 0;
  top: 6px;
  transition: all 0.3s ease-in-out;
  font-size: 14px;
  font-style: italic;
  font-weight: 700;
  display: flex;
  align-items: center;
  height: 21px;
  line-height: 14px;
}
header .wrapper .logo-sec .phone .phoneicon {
  width: 14px;
  height: 14px;
  fill: #ee2d2d;
  margin-right: 4px;
}
header .wrapper .logo-sec .phone-top {
  left: -140px;
  opacity: 0;
  height: 0;
}
header .wrapper .m-nav {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  background-color: #ffffff;
  width: 40%;
  bottom: 0;
  left: 0;
  height: 60px;
  height: calc(60px + constant(safe-area-inset-bottom));
  height: calc(60px + env(safe-area-inset-bottom));
  z-index: 20;
}
@media screen and (max-width: 768px) {
  header .wrapper .m-nav {
    align-items: flex-start;
    position: fixed;
    width: 100%;
    padding-top: 10px;
  }
}
header .wrapper .m-nav .base {
  position: relative;
  height: 100%;
  font-size: 15px;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  white-space: nowrap;
  transition: all 0.3s;
}
@media screen and (max-width: 768px) {
  header .wrapper .m-nav .base {
    font-size: 12px;
  }
}
@media screen and (min-width: 768px) {
  header .wrapper .m-nav .base:hover {
    font-weight: 500;
  }
}
header .wrapper .m-nav .base .baseicon {
  width: 22px;
  height: 22px;
  margin: 0 auto;
  fill: #000000;
  display: none;
}
@media screen and (max-width: 768px) {
  header .wrapper .m-nav .base .baseicon {
    display: block;
  }
}
header .wrapper .m-nav .contect {
  position: relative;
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
  height: 40px;
  border-radius: 99px;
  overflow: hidden;
}
@media screen and (max-width: 768px) {
  header .wrapper .m-nav .contect {
    width: 60%;
  }
}
@media screen and (min-width: 768px) {
  header .wrapper .m-nav .contect:hover {
    height: 48px;
    transform: scale(1.1);
  }
}
header .wrapper .m-nav .contect:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(-75deg, #000000, #979797, #000000);
  animation: shinning 5s linear infinite;
  z-index: 0;
}
@keyframes shinning {
  0% {
    transform: translateX(-100%);
  }
  90% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
header .wrapper .m-nav .contect .text {
  position: relative;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 500;
  color: #ffcb00;
  z-index: 1;
}
header .wrapper .m-nav .contect .text .lineicon {
  width: 24px;
  height: 24px;
  fill: #ffcb00;
  margin-right: 8px;
}
header .wrapper .filter {
  width: 100%;
  padding: 0 12px;
  position: sticky;
  z-index: 99;
  transition: 0.3s;
  -webkit-tap-highlight-color: transparent;
  flex: 1;
  max-width: 440px;
  border-radius: 12px;
  top: 48px;
  height: 0;
  background-color: transparent;
}
@media screen and (min-width: 768px) {
  header .wrapper .filter {
    top: 100px;
    height: 70vh;
    background-color: #FFF;
    display: none;
  }
}
header .wrapper .filter .partone {
  position: initial;
  padding: 30px 12px 10px;
  display: flex;
  justify-content: space-between;
  /* gap: 8px; */
  z-index: 1;
  top: -32px;
  transition: 0.3s;
  transition: all 0.3s ease-in-out;
  border-bottom: 1px solid #eee;
}
@media screen and (max-width: 768px) {
  header .wrapper .filter .partone {
    flex-direction: row-reverse;
    position: relative;
    padding: 0;
    border-bottom: none;
  }
}
header .wrapper .filter .partone .itemname {
  font-size: 14px;
  font-weight: 500;
  white-space: nowrap;
}
header .wrapper .filter .partone .citybox {
  display: flex;
}
header .wrapper .filter .partone .citybox .city {
  background-color: #ffffff;
  padding: 8px 8px 8px 16px;
  border-radius: 99px;
  position: relative;
  height: 36px;
  display: flex;
  align-items: center;
  width: auto;
  border: 1px solid #ffcb00;
}
header .wrapper .filter .partone .citybox .city:first-child {
  margin-right: 8px;
}
header .wrapper .filter .partone .citybox .city .arrowicon {
  cursor: pointer;
  display: flex;
  overflow: hidden;
  height: 20px;
}
header .wrapper .filter .partone .citybox .city .arrowicon input[type="checkbox"] {
  display: none;
}
header .wrapper .filter .partone .citybox .city .arrowicon input[id="city"]:checked ~ .area .arrow {
  transform: translateY(-8px);
}
header .wrapper .filter .partone .citybox .city .arrowicon input[id="city"]:checked ~ .area .arrow:before {
  transform-origin: 100% 0%;
  transform: rotate(-40deg) scaleY(1.1);
}
header .wrapper .filter .partone .citybox .city .arrowicon input[id="city"]:checked ~ .area .arrow:after {
  transform-origin: 0% 0%;
  transform: rotate(40deg) scaleY(1.1);
}
header .wrapper .filter .partone .citybox .city .arrowicon input[id="area"]:checked ~ .area .arrow {
  transform: translateY(-8px);
}
header .wrapper .filter .partone .citybox .city .arrowicon input[id="area"]:checked ~ .area .arrow:before {
  transform-origin: 100% 0%;
  transform: rotate(-40deg) scaleY(1.1);
}
header .wrapper .filter .partone .citybox .city .arrowicon input[id="area"]:checked ~ .area .arrow:after {
  transform-origin: 0% 0%;
  transform: rotate(40deg) scaleY(1.1);
}
header .wrapper .filter .partone .citybox .city .arrowicon .area {
  display: flex;
  align-items: center;
}
header .wrapper .filter .partone .citybox .city .arrowicon .area .arrow {
  display: block;
  position: relative;
  width: 30px;
  height: 30px;
  transition: transform 1s cubic-bezier(0.86, 0, 0.07, 1), transform-origin 1s cubic-bezier(0.86, 0, 0.07, 1);
  transform: translateY(0);
  opacity: 1;
}
header .wrapper .filter .partone .citybox .city .arrowicon .area .arrow:before,
header .wrapper .filter .partone .citybox .city .arrowicon .area .arrow:after {
  content: "";
  display: block;
  position: absolute;
  background: #000;
  top: 18px;
  width: 9px;
  height: 2px;
  transition: transform 1s cubic-bezier(0.86, 0, 0.07, 1), transform-origin 1s cubic-bezier(0.86, 0, 0.07, 1);
}
header .wrapper .filter .partone .citybox .city .arrowicon .area .arrow:before {
  transform-origin: 100% 100%;
  transform: rotate(40deg) scaleY(1.1);
  right: 50%;
  border-radius: 0.5px 0 0 0.5px;
}
header .wrapper .filter .partone .citybox .city .arrowicon .area .arrow:after {
  transform-origin: 0% 100%;
  transform: rotate(-40deg) scaleY(1.1);
  left: 50%;
  border-radius: 0 0.5px 0.5px 0;
}
header .wrapper .filter .partone input {
  display: none;
}
header .wrapper .filter .partone .search {
  background-color: #ffcb00;
  padding: 0 20px;
  border-radius: 99px;
  position: relative;
  height: 36px;
  display: grid;
  align-items: center;
  width: auto;
  justify-content: center;
  cursor: pointer;
  user-select: none;
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  header .wrapper .filter .partone .search {
    pointer-events: none;
    background-color: transparent;
    padding: 0;
    border-radius: 0;
  }
}
header .wrapper .filter .partone input + .search .searchbox .searchtext {
  font-size: 14px;
  font-weight: 500;
  color: #000000;
  white-space: nowrap;
}
@media screen and (min-width: 768px) {
  header .wrapper .filter .partone input + .search .searchbox .searchtext {
    font-size: 24px;
  }
}
header .wrapper .filter .partone input + .search .searchbox .item-count {
  display: inline-flex;
  justify-content: center;
  background: #e42525;
  border-radius: 4px;
  color: #fff;
  font-size: 12px;
  text-align: center;
  overflow: hidden;
  font-weight: 500;
  padding: 0 4px;
  margin-right: 6px;
}
@media screen and (min-width: 768px) {
  header .wrapper .filter .partone input + .search .searchbox .item-count {
    font-size: 15px;
    margin-right: 0;
    margin-left: 6px;
  }
}
header .wrapper .filter .partone input + .search .searchbox .closeicon {
  width: 12px;
  height: 12px;
  margin-right: 6px;
}
header .wrapper .filter .partone input + .search .searchbox .searchopen {
  display: flex;
  align-items: center;
  height: 36px;
  transition: all 0.5s;
  transform: translate(0px, 0%);
  opacity: 1;
}
@media screen and (min-width: 768px) {
  header .wrapper .filter .partone input + .search .searchbox .searchopen {
    flex-direction: row-reverse;
  }
}
header .wrapper .filter .partone input + .search .searchbox .searchcancel {
  display: flex;
  align-items: center;
  height: 36px;
  transition: all 0.5s;
  transform: translate(0px, 100%);
  opacity: 0;
}
header .wrapper .filter .partone input:checked + .search .searchopen {
  transform: translate(0px, -100%);
  opacity: 0;
}
header .wrapper .filter .partone input:checked + .search .searchcancel {
  transform: translate(0px, -100%);
  opacity: 1;
}
header .wrapper .filter .partone-top {
  top: -36px;
}
header .wrapper .filter .parttwo-show {
  background-color: #fafafa;
  height: calc(100vh - 110px);
  overflow: auto;
  transition: all 1s cubic-bezier(0.8, 0, 0.2, 1);
  transition-delay: 0.3s;
  z-index: 0;
}
@media screen and (max-width: 768px) {
  header .wrapper .filter .parttwo-show {
    position: fixed;
    left: 0;
    top: 72px;
    height: 100vh;
  }
  header .wrapper .filter .parttwo-show .choose-box {
    height: calc(var(--height) - constant(safe-area-inset-bottom));
    height: calc(var(--height) - env(safe-area-inset-bottom));
    overflow-y: auto;
    overflow-x: hidden;
  }
}
header .wrapper .filter .parttwo-show .choose-sec {
  position: relative;
  width: 100%;
  margin-top: 30px;
  opacity: 0;
  padding: 0 12px;
  transform: translateY(20px);
  transition-duration: 0.4s;
  transition-timing-function: cubic-bezier(0.7, 0.3, 0.47, 0.78);
  /* .sizechoose{
                        width: 100%;
                        display: grid;
                        grid-template-columns: repeat(3, 1fr);
                        text-align: center;
                        margin-top: 10px;
                        gap: 4px;
                        input[type="checkbox"]{
                            display: none;
                        }
                        .size{
                            background-color: #eee;
                            padding: 10px;
                            border-radius: 99px;
                            font-weight: 400;
                            font-size: 13px;

                        }
                    }
                    .charchoose{
                        width: 100%;
                        display: grid;
                        grid-template-columns: repeat(4, 1fr);
                        text-align: center;
                        margin-top: 10px;
                        gap: 4px;
                        input[type="checkbox"]{
                            display: none;
                        }
                        .char{
                            background-color: #eee;
                            padding: 10px;
                            border-radius: 99px;
                            font-weight: 400;
                            font-size: 13px;

                        }
                    }
                    .jobchoose{
                        width: 100%;
                        display: grid;
                        grid-template-columns: repeat(4, 1fr);
                        text-align: center;
                        margin-top: 10px;
                        gap: 4px;
                        input[type="checkbox"]{
                            display: none;
                        }
                        .job{
                            background-color: #eee;
                            padding: 10px;
                            border-radius: 99px;
                            font-weight: 400;
                            font-size: 13px;

                        }
                    } */
}
@media screen and (min-width: 768px) {
  header .wrapper .filter .parttwo-show .choose-sec {
    opacity: 1;
  }
}
header .wrapper .filter .parttwo-show .choose-sec:nth-child(1) {
  transition-delay: 0.8s;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}
header .wrapper .filter .parttwo-show .choose-sec:nth-child(2) {
  transition-delay: 0.9s;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .wrapper .filter .parttwo-show .choose-sec:nth-child(3) {
  transition-delay: 1s;
}
header .wrapper .filter .parttwo-show .choose-sec:nth-child(4) {
  transition-delay: 1.1s;
}
header .wrapper .filter .parttwo-show .choose-sec:nth-child(5) {
  transition-delay: 1.2s;
}
header .wrapper .filter .parttwo-show .choose-sec:nth-child(6) {
  transition-delay: 1.3s;
}
header .wrapper .filter .parttwo-show .choose-sec:nth-child(7) {
  transition-delay: 1.4s;
}
header .wrapper .filter .parttwo-show .choose-sec:nth-child(8) {
  transition-delay: 1.5s;
}
header .wrapper .filter .parttwo-show .choose-sec .title {
  font-size: 16px;
  font-weight: 500;
}
header .wrapper .filter .parttwo-show .choose-sec .title .eng {
  font-size: 14px;
  color: #999;
}
header .wrapper .filter .parttwo-show .choose-sec .modebox .tabs {
  display: flex;
  position: relative;
  background-color: #ffffff;
  border-radius: 99px;
  padding: 4px;
  border: 1px solid #ffcb00;
}
header .wrapper .filter .parttwo-show .choose-sec .modebox .tabs * {
  z-index: 2;
}
header .wrapper .filter .parttwo-show .choose-sec .modebox input[type="radio"] {
  display: none;
}
header .wrapper .filter .parttwo-show .choose-sec .modebox .tab {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  width: 64px;
  font-size: 16px;
  color: black;
  font-weight: 500;
  border-radius: 99px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: color 0.15s ease-in;
}
header .wrapper .filter .parttwo-show .choose-sec .modebox input[type="radio"]:checked + label {
  color: #000000;
}
header .wrapper .filter .parttwo-show .choose-sec .modebox input[id="fit-tabs-1"]:checked ~ .glider {
  transform: translateX(0);
}
header .wrapper .filter .parttwo-show .choose-sec .modebox input[id="fit-tabs-2"]:checked ~ .glider {
  transform: translateX(100%);
}
header .wrapper .filter .parttwo-show .choose-sec .modebox .glider {
  position: absolute;
  display: flex;
  height: 32px;
  width: 64px;
  background-color: #ffcb00;
  z-index: 1;
  border-radius: 99px;
  transition: 0.25s ease-out;
  /* box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.1), 0 2px 6px 0 rgba(0, 0, 0, 0.1); */
}
header .wrapper .filter .parttwo-show .choose-sec .citybox {
  display: flex;
}
header .wrapper .filter .parttwo-show .choose-sec .citybox select {
  border: none;
  background-color: transparent;
  appearance: none;
  -webkit-appearance: none;
  padding: 8px;
  color: #000;
  font-size: 14px;
  font-weight: 500;
  width: 100%;
  outline: none;
}
header .wrapper .filter .parttwo-show .choose-sec .citybox .city {
  background-color: #ffffff;
  padding: 8px 8px 8px 16px;
  border-radius: 99px;
  position: relative;
  height: 42px;
  display: flex;
  align-items: center;
  width: auto;
  border: 1px solid #ffcb00;
}
header .wrapper .filter .parttwo-show .choose-sec .citybox .city:first-child {
  margin-right: 8px;
}
header .wrapper .filter .parttwo-show .choose-sec .citybox .city .arrowicon {
  cursor: pointer;
  display: flex;
  overflow: hidden;
  height: 20px;
}
header .wrapper .filter .parttwo-show .choose-sec .citybox .city .arrowicon input[type="checkbox"] {
  display: none;
}
header .wrapper .filter .parttwo-show .choose-sec .citybox .city .arrowicon input[id="city"]:checked ~ .area .arrow {
  transform: translateY(-8px);
}
header .wrapper .filter .parttwo-show .choose-sec .citybox .city .arrowicon input[id="city"]:checked ~ .area .arrow:before {
  transform-origin: 100% 0%;
  transform: rotate(-40deg) scaleY(1.1);
}
header .wrapper .filter .parttwo-show .choose-sec .citybox .city .arrowicon input[id="city"]:checked ~ .area .arrow:after {
  transform-origin: 0% 0%;
  transform: rotate(40deg) scaleY(1.1);
}
header .wrapper .filter .parttwo-show .choose-sec .citybox .city .arrowicon input[id="area"]:checked ~ .area .arrow {
  transform: translateY(-8px);
}
header .wrapper .filter .parttwo-show .choose-sec .citybox .city .arrowicon input[id="area"]:checked ~ .area .arrow:before {
  transform-origin: 100% 0%;
  transform: rotate(-40deg) scaleY(1.1);
}
header .wrapper .filter .parttwo-show .choose-sec .citybox .city .arrowicon input[id="area"]:checked ~ .area .arrow:after {
  transform-origin: 0% 0%;
  transform: rotate(40deg) scaleY(1.1);
}
header .wrapper .filter .parttwo-show .choose-sec .citybox .city .arrowicon .area {
  display: flex;
  align-items: center;
}
header .wrapper .filter .parttwo-show .choose-sec .citybox .city .arrowicon .area .arrow {
  display: block;
  position: relative;
  width: 30px;
  height: 30px;
  transition: transform 1s cubic-bezier(0.86, 0, 0.07, 1), transform-origin 1s cubic-bezier(0.86, 0, 0.07, 1);
  transform: translateY(0);
  opacity: 1;
}
header .wrapper .filter .parttwo-show .choose-sec .citybox .city .arrowicon .area .arrow:before,
header .wrapper .filter .parttwo-show .choose-sec .citybox .city .arrowicon .area .arrow:after {
  content: "";
  display: block;
  position: absolute;
  background: #000;
  top: 18px;
  width: 9px;
  height: 2px;
  transition: transform 1s cubic-bezier(0.86, 0, 0.07, 1), transform-origin 1s cubic-bezier(0.86, 0, 0.07, 1);
}
header .wrapper .filter .parttwo-show .choose-sec .citybox .city .arrowicon .area .arrow:before {
  transform-origin: 100% 100%;
  transform: rotate(40deg) scaleY(1.1);
  right: 50%;
  border-radius: 0.5px 0 0 0.5px;
}
header .wrapper .filter .parttwo-show .choose-sec .citybox .city .arrowicon .area .arrow:after {
  transform-origin: 0% 100%;
  transform: rotate(-40deg) scaleY(1.1);
  left: 50%;
  border-radius: 0 0.5px 0.5px 0;
}
header .wrapper .filter .parttwo-show .choose-sec .sliderbar {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 60px;
}
header .wrapper .filter .parttwo-show .choose-sec .sliderbar .back-bar {
  background-color: #ebebeb;
  background-image: none;
  height: 6px;
  border-radius: 12px;
}
header .wrapper .filter .parttwo-show .choose-sec .sliderbar .back-bar .pointer {
  width: 28px;
  height: 28px;
  top: -12px;
  border-radius: 50%;
  background-color: #fff;
  background-image: none;
  border: none;
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.2), 0 2px 6px 0 rgba(0, 0, 0, 0.2);
}
header .wrapper .filter .parttwo-show .choose-sec .sliderbar .back-bar .pointer:before {
  content: "";
  display: inline-block;
  position: relative;
  width: 2px;
  height: 10px;
  border-radius: 2px;
  background-color: #000;
  top: 40%;
  left: 62%;
  transform: translate(-50%, -90%);
}
header .wrapper .filter .parttwo-show .choose-sec .sliderbar .back-bar .pointer:after {
  content: "";
  display: inline-block;
  position: relative;
  width: 2px;
  height: 10px;
  border-radius: 2px;
  background-color: #000;
  top: 40%;
  left: 32%;
  transform: translate(-50%, -90%);
}
header .wrapper .filter .parttwo-show .choose-sec .sliderbar .back-bar .selected-bar {
  background-color: #ffcb00;
  background-image: none;
}
header .wrapper .filter .parttwo-show .choose-sec .sliderbar .back-bar .pointer-label {
  background: none;
  top: -34px;
  font-weight: 400;
  font-size: 16px;
  color: #000;
}
header .wrapper .filter .parttwo-show .choose-sec .sliderbar .scale {
  display: none;
}
header .wrapper .filter .parttwo-show .choose-sec .cupchoose {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
  margin-top: 10px;
}
header .wrapper .filter .parttwo-show .choose-sec .cupchoose input[type="checkbox"] {
  display: none;
}
header .wrapper .filter .parttwo-show .choose-sec .cupchoose .cup {
  background-color: #ffffff;
  padding: 8px;
  border-radius: 99px;
  width: 40px;
  height: 40px;
  font-weight: 500;
  border: 1px solid #ffcb00;
}
@media screen and (max-width: 768px) {
  header .wrapper .filter .parttwo-show .choose-sec .cupchoose .cup {
    width: 48px;
    height: 48px;
    padding: 12px;
  }
}
header .wrapper .filter .parttwo-show .choose-sec .cupchoose .cup .cupitem {
  width: 100%;
}
header .wrapper .filter .parttwo-show .choose-sec .bodychoose {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  margin-top: 10px;
  gap: 4px;
}
header .wrapper .filter .parttwo-show .choose-sec .bodychoose input[type="checkbox"] {
  display: none;
}
header .wrapper .filter .parttwo-show .choose-sec .bodychoose .body {
  background-color: #ffffff;
  padding: 10px;
  border-radius: 8px;
  font-weight: 500;
  font-size: 13px;
  border: 1px solid #ffcb00;
}
header .wrapper .filter .parttwo-show .choose-sec .bodychoose .body .bodyitem {
  width: 100%;
}
header .wrapper .filter .parttwo-show .choose-sec .comechoose {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
  margin-top: 10px;
  gap: 4px;
}
header .wrapper .filter .parttwo-show .choose-sec .comechoose input[type="checkbox"] {
  display: none;
}
header .wrapper .filter .parttwo-show .choose-sec .comechoose .come {
  display: flex;
  background-color: #ffffff;
  padding: 10px 0;
  border-radius: 99px;
  font-weight: 500;
  font-size: 13px;
  align-items: center;
  justify-content: center;
  border: 1px solid #ffcb00;
}
header .wrapper .filter .parttwo-show .choose-sec .comechoose .come .flag {
  display: inline-block;
  border-radius: 2px;
  width: 18px;
  height: 12px;
  overflow: hidden;
  margin-right: 6px;
}
header .wrapper .filter .parttwo-show .choose-sec .comechoose .come .flag img {
  width: 100%;
}
header .wrapper .filter .parttwo-show .choose-sec .outlookchoose {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  margin-top: 10px;
  gap: 4px;
}
header .wrapper .filter .parttwo-show .choose-sec .outlookchoose input[type="checkbox"] {
  display: none;
}
header .wrapper .filter .parttwo-show .choose-sec .outlookchoose .outlook {
  background-color: #ffffff;
  padding: 10px;
  border-radius: 99px;
  font-weight: 500;
  font-size: 13px;
  border: 1px solid #ffcb00;
}
header .wrapper .filter .parttwo-show .choose-sec .coopchoose {
  width: 100%;
  margin-top: 10px;
}
header .wrapper .filter .parttwo-show .choose-sec .coopchoose input[type="checkbox"] {
  display: none;
}
header .wrapper .filter .parttwo-show .choose-sec .coopchoose .coop {
  display: inline-flex;
  align-items: center;
  background-color: #ffffff;
  padding: 6px 8px;
  border-radius: 99px;
  font-weight: 400;
  font-size: 12px;
  white-space: nowrap;
  margin: 4px 0;
  border: 1px solid #ffcb00;
}
header .wrapper .filter .parttwo-show .choose-sec .coopchoose .coop .coopicon {
  width: 13px;
  height: 13px;
  margin-right: 6px;
}
header .wrapper .filter .parttwo-show .choose-sec .group {
  display: inline-flex;
}
header .wrapper .filter .parttwo-show .choose-sec .group label {
  width: 100%;
}
header .wrapper .filter .parttwo-show .choose-sec .group input[type=checkbox]:checked + label {
  background-color: #ffcb00;
}
header .wrapper .filter .parttwo-show .choose-show {
  opacity: 1;
  transform: translateY(0);
}
header .wrapper .filter .parttwo-show .buttonbox {
  position: sticky;
  left: 0;
  bottom: 0;
  display: flex;
  width: 100%;
  background-color: #FFF;
  align-items: center;
  padding: 0 12px;
  height: 72px;
}
@media screen and (min-width: 768px) {
  header .wrapper .filter .parttwo-show .buttonbox {
    display: none;
  }
}
header .wrapper .filter .parttwo-show .buttonbox .reset {
  flex: 1;
  color: #ff0000;
  font-size: 14px;
  font-weight: 500;
  width: 100%;
  border: none;
  background-color: transparent;
  align-items: center;
}
header .wrapper .filter .parttwo-show .buttonbox .conform {
  position: relative;
  flex: 3;
  background-color: #000;
  color: #ffcb00;
  font-size: 18px;
  font-weight: 500;
  width: 100%;
  height: 48px;
  border-radius: 99px;
  border: none;
  overflow: hidden;
}
header .wrapper .filter .parttwo-show .buttonbox .conform .result {
  position: relative;
  z-index: 1;
}
header .wrapper .filter .parttwo-show .buttonbox .conform:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(-75deg, #000000, #979797, #000000);
  animation: shinning 5s linear infinite;
  z-index: 0;
}
@media screen and (min-width: 768px) {
  header .wrapper .filter .parttwo-show .buttonbox .conform:after {
    display: none;
  }
}
@keyframes shinning {
  0% {
    transform: translateX(-100%);
  }
  90% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
header .wrapper .filter .parttwo-show-top {
  top: 60px;
  height: calc(100vh - 60px);
}
header .wrapper .filter .parttwo-hide {
  height: 0;
}
@media screen and (min-width: 768px) {
  header .wrapper .filter .parttwo-hide {
    height: 62vh;
    background-color: #FFF;
  }
}
@media screen and (max-width: 768px) {
  header .wrapper-top {
    height: 60px;
  }
}
header .factorbox {
  display: flex;
  background-color: #FFF;
  border-bottom: 1px solid #e5e5e5;
  padding: 12px;
}
@media screen and (min-width: 768px) {
  header .factorbox {
    display: none;
  }
}
header .factorbox .factor {
  display: flex;
  align-items: center;
  border: 1px solid #ff3a3a;
  border-radius: 6px;
  margin-right: 10px;
  font-size: 13px;
  padding: 0 6px;
  color: #ff3a3a;
  white-space: nowrap;
}
header .factorbox .factor .factorclose {
  width: 13px;
  height: 13px;
  margin-left: 4px;
  fill: #ff3a3a;
}
@media screen and (max-width: 768px) {
  header .factorbox-top {
    padding: 0 12px 12px;
  }
}
/* .header-top{
    top: 0;
} */
.pc {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .pc {
    max-width: 1400px;
    margin: 60px auto;
    display: flex;
    flex-direction: row-reverse;
  }
}
.pc .filter {
  width: 100%;
  padding: 0 12px;
  position: sticky;
  top: 132px;
  height: 80vh;
  z-index: 99;
  transition: 0.3s;
  background-color: #FFF;
  -webkit-tap-highlight-color: transparent;
  flex: 1;
  max-width: 440px;
  border-radius: 12px;
}
@media screen and (max-width: 768px) {
  .pc .filter {
    top: 48px;
    height: 0;
    background-color: transparent;
    display: none;
  }
}
.pc .filter .partone {
  position: initial;
  padding: 30px 12px 10px;
  display: flex;
  justify-content: space-between;
  /* gap: 8px; */
  z-index: 1;
  top: -36px;
  transition: 0.3s;
  border-bottom: 1px solid #eee;
}
@media screen and (max-width: 768px) {
  .pc .filter .partone {
    flex-direction: row-reverse;
    position: relative;
    padding: 0;
    border-bottom: none;
    width: max-content;
    margin-left: auto;
  }
}
.pc .filter .partone .itemname {
  font-size: 14px;
  font-weight: 500;
  white-space: nowrap;
}
.pc .filter .partone .citybox {
  display: flex;
}
.pc .filter .partone .citybox .city {
  background-color: #ffffff;
  padding: 8px 8px 8px 16px;
  border-radius: 99px;
  position: relative;
  height: 36px;
  display: flex;
  align-items: center;
  width: auto;
  border: 1px solid #ffcb00;
}
.pc .filter .partone .citybox .city:first-child {
  margin-right: 8px;
}
.pc .filter .partone .citybox .city .arrowicon {
  cursor: pointer;
  display: flex;
  overflow: hidden;
  height: 20px;
}
.pc .filter .partone .citybox .city .arrowicon input[type="checkbox"] {
  display: none;
}
.pc .filter .partone .citybox .city .arrowicon input[id="city"]:checked ~ .area .arrow {
  transform: translateY(-8px);
}
.pc .filter .partone .citybox .city .arrowicon input[id="city"]:checked ~ .area .arrow:before {
  transform-origin: 100% 0%;
  transform: rotate(-40deg) scaleY(1.1);
}
.pc .filter .partone .citybox .city .arrowicon input[id="city"]:checked ~ .area .arrow:after {
  transform-origin: 0% 0%;
  transform: rotate(40deg) scaleY(1.1);
}
.pc .filter .partone .citybox .city .arrowicon input[id="area"]:checked ~ .area .arrow {
  transform: translateY(-8px);
}
.pc .filter .partone .citybox .city .arrowicon input[id="area"]:checked ~ .area .arrow:before {
  transform-origin: 100% 0%;
  transform: rotate(-40deg) scaleY(1.1);
}
.pc .filter .partone .citybox .city .arrowicon input[id="area"]:checked ~ .area .arrow:after {
  transform-origin: 0% 0%;
  transform: rotate(40deg) scaleY(1.1);
}
.pc .filter .partone .citybox .city .arrowicon .area {
  display: flex;
  align-items: center;
}
.pc .filter .partone .citybox .city .arrowicon .area .arrow {
  display: block;
  position: relative;
  width: 30px;
  height: 30px;
  transition: transform 1s cubic-bezier(0.86, 0, 0.07, 1), transform-origin 1s cubic-bezier(0.86, 0, 0.07, 1);
  transform: translateY(0);
  opacity: 1;
}
.pc .filter .partone .citybox .city .arrowicon .area .arrow:before,
.pc .filter .partone .citybox .city .arrowicon .area .arrow:after {
  content: "";
  display: block;
  position: absolute;
  background: #000;
  top: 18px;
  width: 9px;
  height: 2px;
  transition: transform 1s cubic-bezier(0.86, 0, 0.07, 1), transform-origin 1s cubic-bezier(0.86, 0, 0.07, 1);
}
.pc .filter .partone .citybox .city .arrowicon .area .arrow:before {
  transform-origin: 100% 100%;
  transform: rotate(40deg) scaleY(1.1);
  right: 50%;
  border-radius: 0.5px 0 0 0.5px;
}
.pc .filter .partone .citybox .city .arrowicon .area .arrow:after {
  transform-origin: 0% 100%;
  transform: rotate(-40deg) scaleY(1.1);
  left: 50%;
  border-radius: 0 0.5px 0.5px 0;
}
.pc .filter .partone input {
  display: none;
}
.pc .filter .partone .search {
  background-color: #ffcb00;
  padding: 0 20px;
  border-radius: 99px;
  position: relative;
  height: 36px;
  display: grid;
  align-items: center;
  width: auto;
  justify-content: center;
  cursor: pointer;
  user-select: none;
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .pc .filter .partone .search {
    pointer-events: none;
    background-color: transparent;
    padding: 0;
    border-radius: 0;
  }
}
.pc .filter .partone input + .search .searchbox .searchtext {
  font-size: 14px;
  font-weight: 500;
  color: #000000;
  white-space: nowrap;
}
@media screen and (min-width: 768px) {
  .pc .filter .partone input + .search .searchbox .searchtext {
    font-size: 24px;
  }
}
.pc .filter .partone input + .search .searchbox .item-count {
  display: inline-flex;
  justify-content: center;
  background: #e42525;
  border-radius: 4px;
  color: #fff;
  font-size: 12px;
  text-align: center;
  overflow: hidden;
  font-weight: 500;
  padding: 0 4px;
  margin-right: 6px;
}
@media screen and (min-width: 768px) {
  .pc .filter .partone input + .search .searchbox .item-count {
    font-size: 15px;
    margin-right: 0;
    margin-left: 6px;
  }
}
.pc .filter .partone input + .search .searchbox .closeicon {
  width: 12px;
  height: 12px;
  margin-right: 6px;
}
.pc .filter .partone input + .search .searchbox .searchopen {
  display: flex;
  align-items: center;
  height: 36px;
  transition: all 0.5s;
  transform: translate(0px, 0%);
  opacity: 1;
}
@media screen and (min-width: 768px) {
  .pc .filter .partone input + .search .searchbox .searchopen {
    flex-direction: row-reverse;
  }
}
.pc .filter .partone input + .search .searchbox .searchcancel {
  display: flex;
  align-items: center;
  height: 36px;
  transition: all 0.5s;
  transform: translate(0px, 100%);
  opacity: 0;
}
.pc .filter .partone input:checked + .search .searchopen {
  transform: translate(0px, -100%);
  opacity: 0;
}
.pc .filter .partone input:checked + .search .searchcancel {
  transform: translate(0px, -100%);
  opacity: 1;
}
.pc .filter .partone-top {
  /* background-color: #FFF; */
}
.pc .filter .parttwo-show {
  background-color: #fafafa;
  height: calc(100vh - 110px);
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 1s cubic-bezier(0.8, 0, 0.2, 1);
  transition-delay: 0.3s;
  z-index: 0;
}
.pc .filter .parttwo-show::-webkit-scrollbar {
  width: 4px;
}
.pc .filter .parttwo-show::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}
.pc .filter .parttwo-show::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0);
  border-radius: 10px;
}
@media screen and (max-width: 768px) {
  .pc .filter .parttwo-show {
    position: fixed;
    left: 0;
    top: 60px;
    height: calc(100vh - 60px - constant(safe-area-inset-bottom));
    height: calc(100vh - 60px - env(safe-area-inset-bottom));
  }
}
.pc .filter .parttwo-show .choose-sec {
  position: relative;
  width: 100%;
  margin-top: 30px;
  opacity: 0;
  padding: 0 12px;
  transform: translateY(20px);
  transition-duration: 0.4s;
  transition-timing-function: cubic-bezier(0.7, 0.3, 0.47, 0.78);
  /* .sizechoose{
                    width: 100%;
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                    text-align: center;
                    margin-top: 10px;
                    gap: 4px;
                    input[type="checkbox"]{
                        display: none;
                    }
                    .size{
                        background-color: #eee;
                        padding: 10px;
                        border-radius: 99px;
                        font-weight: 400;
                        font-size: 13px;

                    }
                }
                .charchoose{
                    width: 100%;
                    display: grid;
                    grid-template-columns: repeat(4, 1fr);
                    text-align: center;
                    margin-top: 10px;
                    gap: 4px;
                    input[type="checkbox"]{
                        display: none;
                    }
                    .char{
                        background-color: #eee;
                        padding: 10px;
                        border-radius: 99px;
                        font-weight: 400;
                        font-size: 13px;

                    }
                }
                .jobchoose{
                    width: 100%;
                    display: grid;
                    grid-template-columns: repeat(4, 1fr);
                    text-align: center;
                    margin-top: 10px;
                    gap: 4px;
                    input[type="checkbox"]{
                        display: none;
                    }
                    .job{
                        background-color: #eee;
                        padding: 10px;
                        border-radius: 99px;
                        font-weight: 400;
                        font-size: 13px;

                    }
                } */
}
@media screen and (min-width: 768px) {
  .pc .filter .parttwo-show .choose-sec {
    opacity: 1;
  }
}
.pc .filter .parttwo-show .choose-sec:nth-child(1) {
  transition-delay: 0.8s;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}
.pc .filter .parttwo-show .choose-sec:nth-child(2) {
  transition-delay: 0.9s;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.pc .filter .parttwo-show .choose-sec:nth-child(3) {
  transition-delay: 1s;
}
.pc .filter .parttwo-show .choose-sec:nth-child(4) {
  transition-delay: 1.1s;
}
.pc .filter .parttwo-show .choose-sec:nth-child(5) {
  transition-delay: 1.2s;
}
.pc .filter .parttwo-show .choose-sec:nth-child(6) {
  transition-delay: 1.3s;
}
.pc .filter .parttwo-show .choose-sec:nth-child(7) {
  transition-delay: 1.4s;
}
.pc .filter .parttwo-show .choose-sec:nth-child(8) {
  transition-delay: 1.5s;
}
.pc .filter .parttwo-show .choose-sec .title {
  font-size: 16px;
  font-weight: 500;
}
.pc .filter .parttwo-show .choose-sec .title .eng {
  font-size: 14px;
  color: #999;
}
.pc .filter .parttwo-show .choose-sec .modebox .tabs {
  display: flex;
  position: relative;
  background-color: #ffffff;
  border-radius: 99px;
  padding: 4px;
  border: 1px solid #ffcb00;
}
.pc .filter .parttwo-show .choose-sec .modebox .tabs * {
  z-index: 2;
}
.pc .filter .parttwo-show .choose-sec .modebox input[type="radio"] {
  display: none;
}
.pc .filter .parttwo-show .choose-sec .modebox .tab {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  width: 64px;
  font-size: 16px;
  color: black;
  font-weight: 500;
  border-radius: 99px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: color 0.15s ease-in;
}
.pc .filter .parttwo-show .choose-sec .modebox input[type="radio"]:checked + label {
  color: #000000;
}
.pc .filter .parttwo-show .choose-sec .modebox input[id="fit-tabs-1"]:checked ~ .glider {
  transform: translateX(0);
}
.pc .filter .parttwo-show .choose-sec .modebox input[id="fit-tabs-2"]:checked ~ .glider {
  transform: translateX(100%);
}
.pc .filter .parttwo-show .choose-sec .modebox .glider {
  position: absolute;
  display: flex;
  height: 32px;
  width: 64px;
  background-color: #ffcb00;
  z-index: 1;
  border-radius: 99px;
  transition: 0.25s ease-out;
  /* box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.1), 0 2px 6px 0 rgba(0, 0, 0, 0.1); */
}
.pc .filter .parttwo-show .choose-sec .citybox {
  display: flex;
}
.pc .filter .parttwo-show .choose-sec .citybox select {
  border: none;
  background-color: transparent;
  padding: 5px;
  appearance: none;
  -webkit-appearance: none;
  padding: 8px;
  color: #000;
  font-size: 14px;
  font-weight: 500;
}
.pc .filter .parttwo-show .choose-sec .citybox .city {
  background-color: #ffffff;
  padding: 8px 8px 8px 16px;
  border-radius: 99px;
  position: relative;
  height: 42px;
  display: flex;
  align-items: center;
  width: auto;
  border: 1px solid #ffcb00;
}
.pc .filter .parttwo-show .choose-sec .citybox .city:first-child {
  margin-right: 8px;
}
.pc .filter .parttwo-show .choose-sec .citybox .city .arrowicon {
  cursor: pointer;
  display: flex;
  overflow: hidden;
  height: 20px;
}
.pc .filter .parttwo-show .choose-sec .citybox .city .arrowicon input[type="checkbox"] {
  display: none;
}
.pc .filter .parttwo-show .choose-sec .citybox .city .arrowicon input[id="city"]:checked ~ .area .arrow {
  transform: translateY(-8px);
}
.pc .filter .parttwo-show .choose-sec .citybox .city .arrowicon input[id="city"]:checked ~ .area .arrow:before {
  transform-origin: 100% 0%;
  transform: rotate(-40deg) scaleY(1.1);
}
.pc .filter .parttwo-show .choose-sec .citybox .city .arrowicon input[id="city"]:checked ~ .area .arrow:after {
  transform-origin: 0% 0%;
  transform: rotate(40deg) scaleY(1.1);
}
.pc .filter .parttwo-show .choose-sec .citybox .city .arrowicon input[id="area"]:checked ~ .area .arrow {
  transform: translateY(-8px);
}
.pc .filter .parttwo-show .choose-sec .citybox .city .arrowicon input[id="area"]:checked ~ .area .arrow:before {
  transform-origin: 100% 0%;
  transform: rotate(-40deg) scaleY(1.1);
}
.pc .filter .parttwo-show .choose-sec .citybox .city .arrowicon input[id="area"]:checked ~ .area .arrow:after {
  transform-origin: 0% 0%;
  transform: rotate(40deg) scaleY(1.1);
}
.pc .filter .parttwo-show .choose-sec .citybox .city .arrowicon .area {
  display: flex;
  align-items: center;
}
.pc .filter .parttwo-show .choose-sec .citybox .city .arrowicon .area .arrow {
  display: block;
  position: relative;
  width: 30px;
  height: 30px;
  transition: transform 1s cubic-bezier(0.86, 0, 0.07, 1), transform-origin 1s cubic-bezier(0.86, 0, 0.07, 1);
  transform: translateY(0);
  opacity: 1;
}
.pc .filter .parttwo-show .choose-sec .citybox .city .arrowicon .area .arrow:before,
.pc .filter .parttwo-show .choose-sec .citybox .city .arrowicon .area .arrow:after {
  content: "";
  display: block;
  position: absolute;
  background: #000;
  top: 18px;
  width: 9px;
  height: 2px;
  transition: transform 1s cubic-bezier(0.86, 0, 0.07, 1), transform-origin 1s cubic-bezier(0.86, 0, 0.07, 1);
}
.pc .filter .parttwo-show .choose-sec .citybox .city .arrowicon .area .arrow:before {
  transform-origin: 100% 100%;
  transform: rotate(40deg) scaleY(1.1);
  right: 50%;
  border-radius: 0.5px 0 0 0.5px;
}
.pc .filter .parttwo-show .choose-sec .citybox .city .arrowicon .area .arrow:after {
  transform-origin: 0% 100%;
  transform: rotate(-40deg) scaleY(1.1);
  left: 50%;
  border-radius: 0 0.5px 0.5px 0;
}
.pc .filter .parttwo-show .choose-sec .sliderbar {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 60px;
}
.pc .filter .parttwo-show .choose-sec .sliderbar .back-bar {
  background-color: #ebebeb;
  background-image: none;
  height: 6px;
  border-radius: 12px;
}
.pc .filter .parttwo-show .choose-sec .sliderbar .back-bar .pointer {
  width: 28px;
  height: 28px;
  top: -12px;
  border-radius: 50%;
  background-color: #fff;
  background-image: none;
  border: none;
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.2), 0 2px 6px 0 rgba(0, 0, 0, 0.2);
}
.pc .filter .parttwo-show .choose-sec .sliderbar .back-bar .pointer:before {
  content: "";
  display: inline-block;
  position: relative;
  width: 2px;
  height: 10px;
  border-radius: 2px;
  background-color: #000;
  top: 40%;
  left: 62%;
  transform: translate(-50%, -90%);
}
.pc .filter .parttwo-show .choose-sec .sliderbar .back-bar .pointer:after {
  content: "";
  display: inline-block;
  position: relative;
  width: 2px;
  height: 10px;
  border-radius: 2px;
  background-color: #000;
  top: 40%;
  left: 32%;
  transform: translate(-50%, -90%);
}
.pc .filter .parttwo-show .choose-sec .sliderbar .back-bar .selected-bar {
  background-color: #ffcb00;
  background-image: none;
}
.pc .filter .parttwo-show .choose-sec .sliderbar .back-bar .pointer-label {
  background: none;
  top: -34px;
  font-weight: 400;
  font-size: 16px;
  color: #000;
}
.pc .filter .parttwo-show .choose-sec .sliderbar .scale {
  display: none;
}
.pc .filter .parttwo-show .choose-sec .cupchoose {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
  margin-top: 10px;
}
.pc .filter .parttwo-show .choose-sec .cupchoose input[type="checkbox"] {
  display: none;
}
.pc .filter .parttwo-show .choose-sec .cupchoose .cup {
  background-color: #ffffff;
  padding: 8px;
  border-radius: 99px;
  width: 40px;
  height: 40px;
  font-weight: 500;
  border: 1px solid #ffcb00;
}
@media screen and (max-width: 768px) {
  .pc .filter .parttwo-show .choose-sec .cupchoose .cup {
    width: 48px;
    height: 48px;
    padding: 12px;
  }
}
.pc .filter .parttwo-show .choose-sec .cupchoose .cup .cupitem {
  width: 100%;
}
.pc .filter .parttwo-show .choose-sec .bodychoose {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  margin-top: 10px;
  gap: 4px;
}
.pc .filter .parttwo-show .choose-sec .bodychoose input[type="checkbox"] {
  display: none;
}
.pc .filter .parttwo-show .choose-sec .bodychoose .body {
  background-color: #ffffff;
  padding: 10px;
  border-radius: 8px;
  font-weight: 500;
  font-size: 13px;
  border: 1px solid #ffcb00;
}
.pc .filter .parttwo-show .choose-sec .bodychoose .body .bodyitem {
  width: 100%;
}
.pc .filter .parttwo-show .choose-sec .comechoose {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
  margin-top: 10px;
  gap: 4px;
}
.pc .filter .parttwo-show .choose-sec .comechoose input[type="checkbox"] {
  display: none;
}
.pc .filter .parttwo-show .choose-sec .comechoose .come {
  display: flex;
  background-color: #ffffff;
  padding: 10px 0;
  border-radius: 99px;
  font-weight: 500;
  font-size: 13px;
  align-items: center;
  justify-content: center;
  border: 1px solid #ffcb00;
}
.pc .filter .parttwo-show .choose-sec .comechoose .come .flag {
  display: inline-block;
  border-radius: 2px;
  width: 18px;
  height: 12px;
  overflow: hidden;
  margin-right: 6px;
}
.pc .filter .parttwo-show .choose-sec .comechoose .come .flag img {
  width: 100%;
}
.pc .filter .parttwo-show .choose-sec .outlookchoose {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  margin-top: 10px;
  gap: 4px;
}
.pc .filter .parttwo-show .choose-sec .outlookchoose input[type="checkbox"] {
  display: none;
}
.pc .filter .parttwo-show .choose-sec .outlookchoose .outlook {
  background-color: #ffffff;
  padding: 10px;
  border-radius: 99px;
  font-weight: 500;
  font-size: 13px;
  border: 1px solid #ffcb00;
}
.pc .filter .parttwo-show .choose-sec .coopchoose {
  width: 100%;
  margin-top: 10px;
}
.pc .filter .parttwo-show .choose-sec .coopchoose input[type="checkbox"] {
  display: none;
}
.pc .filter .parttwo-show .choose-sec .coopchoose .coop {
  display: inline-flex;
  align-items: center;
  background-color: #ffffff;
  padding: 6px 8px;
  border-radius: 99px;
  font-weight: 400;
  font-size: 12px;
  white-space: nowrap;
  margin: 4px 0;
  border: 1px solid #ffcb00;
}
.pc .filter .parttwo-show .choose-sec .coopchoose .coop .coopicon {
  width: 13px;
  height: 13px;
  margin-right: 6px;
}
.pc .filter .parttwo-show .choose-sec .group {
  display: inline-flex;
}
.pc .filter .parttwo-show .choose-sec .group label {
  width: 100%;
}
.pc .filter .parttwo-show .choose-sec .group input[type=checkbox]:checked + label {
  background-color: #ffcb00;
}
.pc .filter .parttwo-show .choose-show {
  opacity: 1;
  transform: translateY(0);
}
.pc .filter .parttwo-show .buttonbox {
  position: sticky;
  left: 0;
  bottom: 0;
  display: flex;
  width: 100%;
  background-color: #FFF;
  align-items: center;
  padding: 0 12px;
  height: calc(72px + constant(safe-area-inset-bottom));
  height: calc(72px + env(safe-area-inset-bottom));
}
.pc .filter .parttwo-show .buttonbox .reset {
  flex: 1;
  color: #ff0000;
  font-size: 14px;
  font-weight: 500;
  width: 100%;
  border: none;
  background-color: transparent;
  align-items: center;
}
.pc .filter .parttwo-show .buttonbox .conform {
  position: relative;
  flex: 3;
  background-color: #000;
  color: #ffcb00;
  font-size: 18px;
  font-weight: 500;
  width: 100%;
  height: 48px;
  border-radius: 99px;
  border: none;
  overflow: hidden;
}
.pc .filter .parttwo-show .buttonbox .conform .result {
  position: relative;
  z-index: 1;
}
.pc .filter .parttwo-show .buttonbox .conform:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(-75deg, #000000, #979797, #000000);
  animation: shinning 5s linear infinite;
  z-index: 0;
}
@media screen and (min-width: 768px) {
  .pc .filter .parttwo-show .buttonbox .conform:after {
    display: none;
  }
}
@keyframes shinning {
  0% {
    transform: translateX(-100%);
  }
  90% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
.pc .filter .parttwo-hide {
  height: 0;
}
@media screen and (min-width: 768px) {
  .pc .filter .parttwo-hide {
    height: 72vh;
    background-color: #FFF;
  }
}
.pc .goodpart {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .pc .goodpart {
    flex: 1;
  }
}
.pc .goodpart .factorbox {
  display: flex;
  padding: 12px;
}
@media screen and (max-width: 768px) {
  .pc .goodpart .factorbox {
    display: none;
  }
}
.pc .goodpart .factorbox .factor {
  display: flex;
  align-items: center;
  border: 1px solid #ff3a3a;
  border-radius: 6px;
  margin-right: 10px;
  font-size: 14px;
  padding: 2px 8px;
  color: #ff3a3a;
  font-weight: 500;
}
.pc .goodpart .factorbox .factor .factorclose {
  width: 16px;
  height: 16px;
  margin-left: 4px;
  fill: #ff3a3a;
}
.pc .goodpart .goods-section {
  width: 100%;
  padding: 0 80px 0 12px;
  margin-top: 20px;
  /*display: grid;
            gap: 50px;
            grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));*/
  max-width: 960px;
}
@media screen and (max-width: 768px) {
  .pc .goodpart .goods-section {
    display: flex;
    padding: 0;
    /*padding: 0 12px;*/
    /*gap: 12px;*/
    gap: 0;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
.pc .goodpart .goods-section .goods {
  position: relative;
  width: calc(50% - 100px);
  margin-bottom: 50px;
}
@media screen and (max-width: 768px) {
  .pc .goodpart .goods-section .goods {
    width: calc(50% - 6px);
    margin-bottom: 24px;
  }
}
.pc .goodpart .goods-section .goods.hide {
  display: none;
}
.pc .goodpart .goods-section .goods::after {
  content: "";
  position: absolute;
  top: 9%;
  left: 0;
  right: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  transform: scale(0.8);
  -webkit-filter: blur(14px);
  background-color: #ccc;
}
.pc .goodpart .goods-section .goods::before {
  content: "";
  display: block;
  position: absolute;
  width: 20px;
  height: 10px;
  background-color: #818181;
  top: 14px;
  left: -4px;
  border-radius: 0 0 0 4px;
}
@media screen and (min-width: 768px) {
  .pc .goodpart .goods-section .goods::before {
    top: 24px;
  }
}
.pc .goodpart .goods-section .goods .label {
  width: fit-content;
  font-size: 13px;
  color: #ffcb00;
  padding: 2px 11px;
  border-radius: 12px 2px 12px 0;
  background-image: linear-gradient(45deg, black, #4d4d4d);
  font-weight: 500;
  margin-bottom: 3px;
  position: absolute;
  z-index: 1;
  top: -4px;
  left: -4px;
}
@media screen and (min-width: 768px) {
  .pc .goodpart .goods-section .goods .label {
    font-size: 18px;
    padding: 2px 16px;
  }
}
.pc .goodpart .goods-section .goods .cover {
  position: relative;
  width: 100%;
  border-radius: 12px 12px 0 0;
  overflow: hidden;
}
.pc .goodpart .goods-section .goods .cover .serve {
  position: absolute;
  top: 24px;
  left: 4px;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .pc .goodpart .goods-section .goods .cover .serve {
    top: 32px;
  }
}
.pc .goodpart .goods-section .goods .cover .serve .item {
  width: fit-content;
  font-size: 12px;
  color: #ffffff;
  /* border: 1px solid #ffffff; */
  padding: 0 6px;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.3);
  font-weight: 500;
  margin-bottom: 3px;
}
@media screen and (min-width: 768px) {
  .pc .goodpart .goods-section .goods .cover .serve .item {
    font-size: 18px;
  }
}
.pc .goodpart .goods-section .goods .cover .flag {
  position: absolute;
  top: 8px;
  right: 8px;
  border-radius: 2px;
  width: 21px;
  height: 14px;
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .pc .goodpart .goods-section .goods .cover .flag {
    width: 33px;
    height: 22px;
  }
}
.pc .goodpart .goods-section .goods .cover .flag img {
  width: 100%;
}
.pc .goodpart .goods-section .goods .cover .wh {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 13px;
  font-weight: 700;
  color: #fff;
  padding: 6px;
  border-radius: 6px;
  bottom: 4px;
  right: 4px;
}
@media screen and (min-width: 768px) {
  .pc .goodpart .goods-section .goods .cover .wh {
    font-size: 16px;
    bottom: 12px;
    right: 12px;
  }
}
.pc .goodpart .goods-section .goods .cover .wh .cup {
  background-color: #ee2d2e;
  padding: 2px 6px;
  border-radius: 6px;
  font-weight: 700;
  color: #ffffff;
  font-size: 14px;
}
@media screen and (min-width: 768px) {
  .pc .goodpart .goods-section .goods .cover .wh .cup {
    font-size: 18px;
  }
}
.pc .goodpart .goods-section .goods .cover img {
  width: 100%;
}
.pc .goodpart .goods-section .goods .message {
  padding: 8px;
  background-color: #FFF;
  border-radius: 0 0 12px 12px;
}
@media screen and (min-width: 768px) {
  .pc .goodpart .goods-section .goods .message {
    padding: 14px;
  }
}
.pc .goodpart .goods-section .goods .message .namebox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.pc .goodpart .goods-section .goods .message .namebox .goodname {
  font-size: 16px;
  font-weight: 500;
  color: #000;
  white-space: nowrap;
}
@media screen and (min-width: 768px) {
  .pc .goodpart .goods-section .goods .message .namebox .goodname {
    font-size: 24px;
  }
}
.pc .goodpart .goods-section .goods .message .namebox .age {
  font-size: 14px;
  font-weight: 700;
  color: #000;
  margin-left: 4px;
  letter-spacing: 0;
}
@media screen and (min-width: 768px) {
  .pc .goodpart .goods-section .goods .message .namebox .age {
    font-size: 20px;
    margin-left: 6px;
  }
}
.pc .goodpart .goods-section .goods .message .namebox .mode {
  display: flex;
}
.pc .goodpart .goods-section .goods .message .namebox .mode .type {
  font-size: 12px;
  color: #ee2d2e;
  border: 1px solid #ee2d2e;
  padding: 0 4px;
  border-radius: 4px;
  font-weight: 500;
}
@media screen and (min-width: 768px) {
  .pc .goodpart .goods-section .goods .message .namebox .mode .type {
    font-size: 16px;
  }
}
.pc .goodpart .goods-section .goods .message .namebox .mode .type:last-child {
  margin-left: 4px;
}
.pc .goodpart .goods-section .goods .message .pricebox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.pc .goodpart .goods-section .goods .message .pricebox .price {
  font-size: 14px;
  color: #ee2d2e;
  font-weight: 700;
  letter-spacing: 0;
}
@media screen and (min-width: 768px) {
  .pc .goodpart .goods-section .goods .message .pricebox .price {
    font-size: 16px;
  }
}
.pc .goodpart .goods-section .goods .message .pricebox .price .up {
  font-size: 12px;
}
