.pagination {
  display: flex;
  justify-content: end;
  flex-wrap: wrap;
}
@media screen and (max-width: 1024px) {
  .pagination {
    justify-content: center;
  }
}
.pagination .page-item {
  width: 32px;
  height: 32px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  margin-right: 10px;
  font-weight: 700;
  border-bottom: 2px solid transparent;
}
.pagination .page-item a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 32px;
  color: #000;
}
.pagination .page-item:first-child,
.pagination .page-item:last-child {
  font-size: 26px;
}
.pagination .active {
  color: #000;
  border-bottom: 2px solid;
}
.pagination .disabled {
  color: #262626;
}
