header{
    width: 100vw;
    position: sticky;
    z-index: 99;
    top: 0;
    left: 0;
    background-color: #fff;

    @media screen and (max-width: 1024px) {

    }

    @media screen and (max-width: 768px) {
        display: none;
    }


    .wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        width: 100%;
        height: 80px;
        max-width: 1400px;
        background-color: #fff;
        margin: 0 auto;
        transition: all 0.2s ease-in-out;
        border-bottom: 1px solid #e5e5e5;
        box-sizing: content-box;
        .logo-sec{
            margin-left: 12px;
            font-weight: 500;
            letter-spacing: 0;

            .logo{
                width: 160px;
            }
            .searchtitle{
                font-size: 24px;
                font-weight: 500;
            }
            .phone{
                position: relative;
                left: 0;
                top: 6px;
                transition: all .3s ease-in-out;
                font-size: 14px;
                font-style: italic;
                font-weight: 700;
                display: flex;
                align-items: center;
                height: 21px;
                line-height: 14px;

                .phoneicon{
                    width: 14px;
                    height: 14px;
                    fill: rgb(238, 45, 45);
                    margin-right: 4px;
                }
            }
            .phone-top{
                left: -140px;
                opacity: 0;
                height: 0;
            }
        }

        .m-nav{
            position: relative;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            text-align: center;
            background-color: rgb(255, 255, 255);
            width: 40%;
            bottom: 0;
            left: 0;
            height: 60px;
            height: calc(60px + constant(safe-area-inset-bottom));
            height: calc(60px + env(safe-area-inset-bottom));
            z-index: 20;
            @media screen and (max-width: 768px) {
                align-items: flex-start;
                position: fixed;
                width: 100%;
                padding-top: 10px;

            }

            .base{
                position: relative;
                height: 100%;
                font-size: 15px;
                font-weight: 300;
                display: flex;
                flex-direction: column;
                white-space: nowrap;
                @media screen and (max-width: 768px) {
                    font-size: 12px;
                }
                .baseicon{
                    width: 22px;
                    height: 22px;
                    margin: 0 auto;
                    fill: rgb(0, 0, 0);
                    display: none;
                    @media screen and (max-width: 768px) {
                        display: block;
                    }
                }
            }
            .contect{
                position: relative;
                width: 40%;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: #000;
                height: 40px;
                border-radius: 20px;
                overflow: hidden;
                @media screen and (max-width: 768px) {
                    width: 60%;

                }
                &:after {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-image: linear-gradient(-75deg, #000000,#979797, #000000);;
                    animation: shinning 5s linear infinite;
                    z-index: 0;
                    @keyframes shinning {
                        0% {
                          transform: translateX(-100%);
                        }
                        90% {
                            transform: translateX(-100%);
                          }
                        100% {
                          transform: translateX(100%);
                        }
                    }
                }
                .text{
                    position: relative;
                    display: flex;
                    align-items: center;
                    text-align: center;
                    justify-content: center;
                    font-size: 16px;
                    font-weight: 500;
                    color: #ffcb00;
                    z-index: 1;
                    .lineicon{
                        width: 24px;
                        height: 24px;
                        fill: #ffcb00;
                        margin-right: 8px;
                    }
                }


            }


        }
    }
    .wrapper-top{
        height: 60px;
        /* border-bottom: transparent; */
    }





}
.infobody{
    display: flex;
    max-width: 1400px;
    margin: 0 auto;
    gap: 20px;
    margin-top: 60px;
    @media screen and (max-width: 768px) {
        flex-direction: column;
        gap: 0;
        margin-top: 0;
    }
    .pic{
        position: relative;
        flex: 1;
        .back{
            position: absolute;
            width: 48px;
            height: 48px;
            border-radius: 50%;
            background-color: rgba(0, 0, 0, 0.3);
            margin: 14px;
            z-index: 3;
            .backicon{
                position: relative;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 28px;
                height: 28px;
            }
        }
        .spec-list{
            display: flex;
            gap: 8px;
            padding: 0 12px;
            margin-top: 12px;
            @media screen and (max-width: 768px) {
                position: absolute;
                bottom: 40px;
                left: 0;
                gap: 8px;
                padding: 0 24px;
            }
            img{
                width: 100%;
            }

            .list-pic{
                width: 100px;
                border: 1px solid #fff;
                border-radius: 10px;
                overflow: hidden;
                @media screen and (max-width: 768px) {
                    width: 48px;
                }

            }
            .chosen{
                border: 2px solid #ffcb00!important;
            }
            .list-vedio{
                position: relative;
                width: 100px;
                border: 1px solid #fff;
                border-radius: 10px;
                overflow: hidden;
                @media screen and (max-width: 768px) {
                    width: 48px;
                }
                .playicon{
                    width: 36px;
                    height: 36px;
                    fill: rgb(255, 255, 255);
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    z-index: 1;
                    @media screen and (max-width: 768px) {
                        width: 28px;
                        height: 28px;
                    }
                }
                .screen{
                    &::before{
                        content: "";
                        position: absolute;
                        display: block;
                        width: 100%;
                        height: 100%;
                        background-color: rgba(0, 0, 0, 0.3);
                    }
                }
            }
        }
        video{
            width: 100%;
        }
    }

    .info{
        border-radius: 10px 10px 0 0;
        background-color: #fff;
        width: 100%;
        padding: 24px;
        flex: 1;
        @media screen and (max-width: 768px) {
            position: relative;
            left: 0;
            top: -30px;
            padding: 16px 0;
        }
        .namebox{
            
            @media screen and (max-width: 768px) {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 0 16px;
            }

            .name{
                display: flex;
                align-items: center;
                font-size: 24px;
                font-weight: 700;
                @media screen and (min-width: 768px) {
                    font-size: 28px;
                }
            }
            .flag{
                border-radius: 2px;
                width: 18px;
                height: 12px;
                overflow: hidden;
                box-shadow: 1px 1px 4px #e5e5e5;
                margin-left: 6px;
                img{
                    width: 100%;
                }
            }
            /* .voicebox{
                display: flex;
                align-items: center;
                position: relative;
                padding: 0 12px 0 8px;
                background-color: #fff8dd;
                border-radius: 99px;
                width: 180px;
                border: 1px solid #ffcb00;
                @media screen and (min-width: 768px) {
                    margin: 10px 0 20px;
                }
                .playbutton{
                    width: 36px;
                    height: 36px;
                    border: none;
                    background-color: transparent;
                    -webkit-appearance: none;
                    .voiceplay{
                        fill: #000;
                        width: 36px;
                        height: 36px;
                    }
                    .voicestop{
                        fill: #000;
                        width: 26px;
                        height: 36px;
                        margin-left: 10px;
                    }
                }

                .voiceicon{
                    width: 84px;
                    overflow: hidden;
                    background: -webkit-linear-gradient(45deg, #ff6464, #ffcb00) ;
                }
                .voiceiconplay{
                    background: rgb(255, 255, 255) -webkit-linear-gradient(45deg, #ff6464, #ffcb00) no-repeat;
                    animation: fill 15s forwards;
                    background-size: 0% 200%;
                    @keyframes fill {
                        0% {

                            background-size: 0 100%;
                        }
                        100%{

                            background-size: 100% 100%;
                        }
                    }
                }
                .timer{
                    font-size: 12px;
                    font-weight: 700;
                    color: #000000;
                    letter-spacing: 0;
                    margin-left: 8px;
                }
            } */
            .voicebox{
                display: flex;
                align-items: center;
                position: relative;
                background-color: #fff8dd;
                border-radius: 99px;
                width: 180px;
                border: 1px solid #ffcb00;
                justify-content: center;
                @media screen and (min-width: 768px) {
                    margin: 10px 0 20px;
                }
                .playbutton{
                    width: 36px;
                    height: 36px;
                    border: none;
                    background-color: transparent;
                    -webkit-appearance: none;
                    .voiceplay{
                        fill: #000;
                        width: 36px;
                        height: 36px;
                    }
                    .voicestop{
                        fill: #000;
                        width: 26px;
                        height: 36px;
                        margin-left: 10px;
                    }
                }
                .voice-wavy-line{
                    position: relative;
                    z-index: 1;
                    height: 18px;
                    display: -moz-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-orient: horizontal;
                    -webkit-box-direction: normal;
                    -webkit-flex-direction: row;
                    -moz-box-orient: horizontal;
                    -moz-box-direction: normal;
                    -ms-flex-direction: row;
                    flex-direction: row;
                    -webkit-box-pack: center;
                    -webkit-justify-content: center;
                    -moz-box-pack: center;
                    -ms-flex-pack: center;
                    justify-content: center;
                    -webkit-box-align: center;
                    -webkit-align-items: center;
                    -moz-box-align: center;
                    -ms-flex-align: center;
                    align-items: center;
                    .voiceline{
                        width: 2px;
                        height: 15px;
                        margin: 0 1px;
                        -webkit-border-radius: 2px;
                        -moz-border-radius: 2px;
                        border-radius: 4px;
                        
                        
                        &:first-child,&:nth-child(14){
                            -webkit-transform: scaleY(.5);
                            -moz-transform: scaleY(.5);
                            -ms-transform: scaleY(.5);
                            -o-transform: scaleY(.5);
                            transform: scaleY(.5);
                        }
                        &:nth-child(2),&:nth-child(13){
                            -webkit-transform: scaleY(1);
                            -moz-transform: scaleY(1);
                            -ms-transform: scaleY(1);
                            -o-transform: scaleY(1);
                            transform: scaleY(1);
                        }
                        &:nth-child(3),&:nth-child(12){
                            -webkit-transform: scaleY(.75);
                            -moz-transform: scaleY(.75);
                            -ms-transform: scaleY(.75);
                            -o-transform: scaleY(.75);
                            transform: scaleY(.75);
                        }
                        &:nth-child(4),&:nth-child(11){
                            -webkit-transform: scaleY(.6);
                            -moz-transform: scaleY(.6);
                            -ms-transform: scaleY(.6);
                            -o-transform: scaleY(.6);
                            transform: scaleY(.6);
                        }
                        &:nth-child(5),&:nth-child(20){
                            -webkit-transform: scaleY(0.75);
                            -moz-transform: scaleY(0.75);
                            -ms-transform: scaleY(0.75);
                            -o-transform: scaleY(0.75);
                            transform: scaleY(0.75);
                        }
                        &:nth-child(6),&:nth-child(19){
                            -webkit-transform: scaleY(1.25);
                            -moz-transform: scaleY(1.25);
                            -ms-transform: scaleY(1.25);
                            -o-transform: scaleY(1.25);
                            transform: scaleY(1.25);
                        }
                        &:nth-child(7),&:nth-child(18){
                            -webkit-transform: scaleY(.75);
                            -moz-transform: scaleY(.75);
                            -ms-transform: scaleY(.75);
                            -o-transform: scaleY(.75);
                            transform: scaleY(.75);
                        }
                        &:nth-child(8),&:nth-child(17){
                            -webkit-transform: scaleY(.6);
                            -moz-transform: scaleY(.6);
                            -ms-transform: scaleY(.6);
                            -o-transform: scaleY(.6);
                            transform: scaleY(.6);
                        }
                        &:nth-child(9),&:nth-child(16){
                            -webkit-transform: scaleY(1);
                            -moz-transform: scaleY(1);
                            -ms-transform: scaleY(1);
                            -o-transform: scaleY(1);
                            transform: scaleY(1);
                        }
                        &:nth-child(10),&:nth-child(15){
                            -webkit-transform: scaleY(0.6);
                            -moz-transform: scaleY(0.6);
                            -ms-transform: scaleY(0.6);
                            -o-transform: scaleY(0.6);
                            transform: scaleY(0.6);
                        }
                        &:nth-child(1){
                            animation-delay: 0s;
                            background: #ff7455;
                        }
                        &:nth-child(2){
                            animation-delay: 0.1s;
                            background: #ff7751;
                        }
                        &:nth-child(3){
                            animation-delay: 0.2s;
                            background: #ff7b4e;
                        }
                        &:nth-child(4){
                            animation-delay: 0.3s;
                            background: #ff7f4a;
                        }
                        &:nth-child(5){
                            animation-delay: 0.4s;
                            background: #ff8346;
                        }
                        &:nth-child(6){
                            animation-delay: 0.5s;
                            background: #ff8742;
                        }
                        &:nth-child(7){
                            animation-delay: 0.6s;
                            background: #ff8742;
                        }
                        &:nth-child(8){
                            animation-delay: 0.7s;
                            background: #ff8f3a;
                        }
                        &:nth-child(9){
                            animation-delay: 0.8s;
                            background: #ff9336;
                        }
                        &:nth-child(10){
                            animation-delay: 0.9s;
                            background: #ff9832;
                        }
                        &:nth-child(11){
                            animation-delay: 1s;
                            background: #ffa000;
                        }
                        &:nth-child(12){
                            animation-delay: 1.1s;
                            background: #ffa02a;
                        }
                        &:nth-child(13){
                            animation-delay: 1.2s;
                            background: #ffa426;
                        }
                        &:nth-child(14){
                            animation-delay: 1.3s;
                            background: #ffa822;
                        }
                        &:nth-child(15){
                            animation-delay: 1.4s;
                            background: #ffad1d;
                        }
                        &:nth-child(16){
                            animation-delay: 1.5s;
                            background: #ffb01a;
                        }
                        &:nth-child(17){
                            animation-delay: 1.6s;
                            background: #ffb516;
                        }
                        &:nth-child(18){
                            animation-delay: 1.7s;
                            background: #ffcb00;
                        }
                        &:nth-child(19){
                            animation-delay: 1.8s;
                            background: #ffbb0f;
                        }
                        &:nth-child(20){
                            animation-delay: 1.9s;
                            background: #ffbf0c;
                        }
                        
                    }
                    .voiceiconplay{
                        animation: voicewave 1.5s infinite;
                        @keyframes voicewave {
                            0% {
                              
                            }
                            10% {
                                transform: scaleY(1.25);
                            }
                            60% {
                                transform: scaleY(0.25);
                            }
                            100% {
                                
                            }
                        }
                    }
                }
                .timer{
                    font-size: 14px;
                    font-weight: 700;
                    color: #000000;
                    letter-spacing: 0;
                    width: 28px;
                    display: flex;
                    justify-content: flex-end;
                    font-family: sans-serif;
                }
            }

        }
        .location{
            font-size: 14px;
            font-weight: 400;
            color: #999;
            display: flex;
            align-items: center;
            margin-top: 6px;
            @media screen and (max-width: 768px) {
                padding: 0 16px;
            }
            .locaicon{
                position: relative;
                bottom: 2px;
                width: 18px;
                height: 18px;
                fill: #999;
                margin-right: 2px;
            }
        }

        .codebox{
            display: flex;
            align-items: center;
            font-size: 12px;
            font-weight: 500;
            color: #cccccc;
            margin-top: 6px;
            @media screen and (max-width: 768px) {
                padding: 0 16px;
            }
           .codeitem{
                display: flex;
                align-items: baseline;
                &:after{
                    content: "";
                    display: inline-block;
                    height: 14px;
                    position: relative;
                    border-right: 1px solid #eeeeee;
                    margin: 0 12px;
                    top: 2px;
                    left: 0;
                }
                &:last-child:after{
                    display: none;
                }
                .num{
                    font-size: 18px;
                    font-weight: 700;
                    color: #000;
                    margin-right: 2px;
                    @media screen and (min-width: 768px) {
                        font-size: 24px;
                    }
                }


            }

        }
        .pricebox{
            margin-top: 12px;
            border-top: 1px solid #eee;
            @media screen and (min-width: 768px) {
                margin-top: 24px;
            }
            @media screen and (max-width: 768px) {
                padding: 0 16px;
            }
            .title{
                font-size: 18px;
                font-weight: 700;
                margin: 12px 0 8px;
                @media screen and (min-width: 768px) {
                    font-size: 24px;
                    margin: 24px 0 16px;
                }
            }
            .pricelist{
                .item{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    font-size: 14px;
                    font-weight: 300;
                    margin: 8px 0;
                    color: #999;
                    white-space: nowrap;
                    @media screen and (min-width: 768px) {
                        flex-direction: row-reverse;
                        justify-content: flex-end;
                    }
                    @media screen and (max-width: 768px) {
                        padding: 0 12px;
                    }
                    .dashed{
                        content: "";
                        display: block;
                        width: 5%;
                        border-width: 0.5px;
                        border-style: dashed;
                        border-color: #eee;
                        margin: 0 20px;
                        @media screen and (max-width: 768px) {
                            width: 100%;
                        }
                    }
                    .price{
                        font-size: 16px;
                        font-weight: 700;
                        color: #ff0000;
                        @media screen and (min-width: 768px) {
                            font-size: 20px;
                        }
                    }
                }
            }
        }

        .coopbox{
            margin-top: 12px;
            border-top: 1px solid #eee;
            @media screen and (min-width: 768px) {
                margin-top: 24px;
            }
            @media screen and (max-width: 768px) {
                padding: 0 16px;
            }
            .title{
                font-size: 18px;
                font-weight: 700;
                margin: 12px 0 8px;
                @media screen and (min-width: 768px) {
                    font-size: 24px;
                    margin: 24px 0 16px;
                }
            }
            .cooplist{
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                font-size: 14px;
                font-weight: 300;
                gap: 12px;
                @media screen and (min-width: 768px) {
                    grid-template-columns: repeat(5, 1fr);
                }
                .coopitem{
                    display: flex;
                    align-items: center;
                }
                .coopicon{
                    width: 14px;
                    display: inline-block;
                    margin-right: 6px;
                }
            }
        }

        .addbox{
            margin-top: 12px;
            border-top: 1px solid #eee;
            @media screen and (min-width: 768px) {
                margin-top: 24px;
            }
            @media screen and (max-width: 768px) {
                padding: 0 16px;
            }
            .title{
                font-size: 18px;
                font-weight: 700;
                margin: 12px 0 8px;
                @media screen and (min-width: 768px) {
                    font-size: 24px;
                    margin: 24px 0 16px;
                }
            }
            .addlist{
                font-size: 12px;
                font-weight: 500;
                color: #000;
                .additem{
                    display: inline-flex;
                    border: 1px solid #ffcb00;
                    border-radius: 99px;
                    padding: 4px 8px;;
                    margin: 3px;
                    align-items: center;
                }
                .coopicon{
                    width: 14px;
                    display: inline-block;
                    margin-right: 6px;
                }
            }
        }

        .timebox{
            margin-top: 12px;
            border-top: 1px solid #eee;
            @media screen and (min-width: 768px) {
                margin-top: 24px;
            }
            @media screen and (max-width: 768px) {
                padding: 0 16px;
            }
            .title{
                font-size: 18px;
                font-weight: 700;
                margin: 12px 0 8px;
                @media screen and (min-width: 768px) {
                    font-size: 24px;
                    margin: 24px 0 16px;
                }
            }
            .timeline{
                display: flex;
                align-items: center;
                .timeitem{
                    font-size: 14px;
                    font-weight: 600;
                    white-space: nowrap;
                    text-align: center;
                    padding: 10px;
                    background-color: #fff8dd;
                    margin-right: 10px;
                    border-radius: 8px;
                    width: 50%;
                    @media screen and (min-width: 768px) {
                        width: 30%;
                    }
                    .time{
                        font-size: 14px;
                        font-weight: 300;
                    }
                }
                .othertime{
                    font-size: 12px;
                    font-weight: 500;
                    color: #999;
                    white-space: nowrap;
                }
            }
        }

        .reviewbox{
            margin-top: 12px;
            border-top: 1px solid #eee;
            @media screen and (min-width: 768px) {
                margin-top: 24px;
            }
            @media screen and (max-width: 768px) {
                padding-left: 16px;
            }
            .title{
                font-size: 18px;
                font-weight: 700;
                margin: 12px 0 8px;
                @media screen and (min-width: 768px) {
                    font-size: 24px;
                    margin: 24px 0 16px;
                }
            }
            .review{
                overflow-x: auto;
                .reviewlist{
                    display: inline-flex;
                    align-items: center;
                    -webkit-overflow-scrolling: touch;
                    .reviewitem{
                        width: 180px;
                        height: auto;
                        margin-right: 20px;
                        img{
                            width: 100%;
                        }
                    }
                }
            }
           
        }

        .qabox{
            margin-top: 12px;
            border-top: 1px solid #eee;
            @media screen and (min-width: 768px) {
                margin-top: 24px;
            }
            @media screen and (max-width: 768px) {
                padding: 0 16px;
            }
            .title{
                font-size: 18px;
                font-weight: 700;
                margin: 12px 0 8px;
                @media screen and (min-width: 768px) {
                    font-size: 24px;
                    margin: 24px 0 16px;
                }
            }
            .qalist{
                .qaitem{
                    width: 100%;
                    font-size: 14px;
                    overflow: hidden;
                    position: relative;
                    margin-bottom: 16px;
                    transition-duration: .3s;
                    cursor: pointer;
                    background-color: #eee;
                    padding: 16px;
                    border-radius: 8px;
                    .q-title {
                        position: relative;
                        color: #000;
                        font-size: 16px;
                        user-select: none;
                        display: flex;

                        .s1{
                            margin-right: 4px;
                            font-weight: 500;
                        }
                        .s2{
                            padding-right: 34px;
                        }
                        .q-icon{
                            margin-top: 0.1em;
                            width: 15px;
                            height: 15px;
                            fill: #000;
                            position: absolute;
                            right: 0;
                            top: 4px;
                            transition: all 0.3s ease;
                            transform-origin: center;
                        }
                        .i-icon-open{
                            transform: rotate(90deg);
                        }
                    }

                    .q-desc {
                        font-size: 15px;
                        padding-left: 24px;
                        height: 0;
                        overflow: hidden;
                        transition: all 0.3s ease;
                        span{
                            padding-top: 10px;
                            display: block;
                            padding-right: 34px;
                        }
                    }

                }
            }
        }


    }
}

.guessbox{
    margin-top: 12px;
    padding: 0 12px;
    @media screen and (min-width: 768px) {
        margin-top: 24px;
        max-width: 1400px;
        margin: 0 auto;
    }
    .title{
        font-size: 18px;
        font-weight: 700;
        margin: 12px 0 8px;
        padding: 0 12px;
        @media screen and (min-width: 768px) {
            font-size: 24px;
            margin: 24px 0 16px;
        }
    }
    .goods-section{
        width: 100%;
        //padding: 0 80px 0 12px;
        margin-top: 20px;
        /*display: grid;
        gap: 50px;
        grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));*/
        //max-width: 960px;
        //flex: 3;
        @media screen and (max-width: 768px) {
            display: flex;
            padding: 0;
            /*padding: 0 12px;*/
            //grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
            /*gap: 12px;*/
            gap:0;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        .goods{
            position: relative;
            width: calc(25% - 40px);
            margin-bottom: 50px;

            @media screen and (max-width: 768px) {
                width: calc(50% - 12px);
                margin-bottom: 24px;
            }
            @media screen and (min-width: 768px) {
                &:nth-child(n+5){
                    display: none;
                }
            }
            &.hide{
                display: none;
            }
            &::after{
                content: "";
                position: absolute;
                top: 9%;
                left: 0;
                right: 0;
                z-index: -1;
                height: 100%;
                width: 100%;
                transform: scale(0.8);
                -webkit-filter: blur(14px);
                background-color: #ccc;
            }
            &::before{
                content: "";
                display: block;
                position: absolute;
                width: 20px;
                height: 10px;
                background-color: #818181;
                top: 14px;
                left: -4px;
                border-radius: 0 0 0 4px;
                @media screen and (min-width: 768px) {
                    top: 24px;
                }
            }
            .label{
                width: fit-content;
                font-size: 13px;
                color: #ffcb00;
                padding: 2px 11px;
                border-radius: 12px 2px 12px 0;
                background-image: linear-gradient(45deg, black, #4d4d4d);
                font-weight: 500;
                margin-bottom: 3px;
                position: absolute;
                z-index: 1;
                top: -4px;
                left: -4px;
                @media screen and (min-width: 768px) {
                    font-size: 18px;
                    padding: 2px 16px;
                }

            }
            .cover{
                position: relative;
                width: 100%;
                border-radius: 12px 12px 0 0;
                overflow: hidden;


                .serve{
                    position: absolute;
                    top: 24px;
                    left: 4px;
                    display: flex;
                    flex-direction: column;
                    @media screen and (min-width: 768px) {
                        top: 32px;
                    }

                    .item{
                        width: fit-content;
                        font-size: 12px;
                        color: #ffffff;
                        /* border: 1px solid #ffffff; */
                        padding: 0 6px;
                        border-radius: 4px;
                        background-color: rgba(0,0,0,0.3);
                        font-weight: 500;
                        margin-bottom: 3px;
                        @media screen and (min-width: 768px) {
                            font-size: 18px;
                        }
                    }
                }
                .flag{
                    position: absolute;
                    top: 8px;
                    right: 8px;
                    border-radius: 2px;
                    width: 21px;
                    height: 14px;
                    overflow: hidden;
                    @media screen and (min-width: 768px) {
                        width: 33px;
                        height: 22px;
                    }
                    img{
                        width: 100%;
                    }
                }
                .wh{
                    position: absolute;
                    background-color: rgba(0, 0, 0, 0.5);
                    font-size: 13px;
                    font-weight: 700;
                    color: #fff;
                    padding: 6px;
                    border-radius: 6px;
                    bottom: 4px;
                    right: 4px;
                    @media screen and (min-width: 768px) {
                        font-size: 16px;
                        bottom: 12px;
                        right: 12px;
                    }
                    .cup{
                        background-color: #ee2d2e;
                        padding: 2px 6px;
                        border-radius: 6px;
                        font-weight: 700;
                        color: #ffffff;
                        font-size: 14px;
                        @media screen and (min-width: 768px) {
                            font-size: 18px;
                        }
                    }
                }
                img{
                    width: 100%;
                }
            }
            .message{
                padding: 8px;
                background-color: #FFF;
                border-radius: 0 0 12px 12px;
                @media screen and (min-width: 768px) {
                    padding: 14px;
                }
                .namebox{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    .goodname{
                        font-size: 16px;
                        font-weight: 500;
                        color: #000;
                        white-space: nowrap;
                        @media screen and (min-width: 768px) {
                            font-size: 24px;
                        }
                    }
                    .age{
                        font-size: 14px;
                        font-weight: 700;
                        color: #000;
                        margin-left: 4px;
                        letter-spacing: 0;
                        @media screen and (min-width: 768px) {
                            font-size: 20px;
                            margin-left: 6px;
                        }
                    }
                    .mode{
                        display: flex;
                        .type{
                            font-size: 12px;
                            color: #ee2d2e;
                            border: 1px solid #ee2d2e;
                            padding: 0 4px;
                            border-radius: 4px;
                            font-weight: 500;
                            @media screen and (min-width: 768px) {
                                font-size: 16px;
                            }
                            &:last-child{
                                margin-left: 4px;
                            }
                        }
                    }

                }
                .pricebox{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    .price{
                        font-size: 14px;
                        color: #ee2d2e;
                        font-weight: 700;
                        letter-spacing: 0;
                        @media screen and (min-width: 768px) {
                            font-size: 16px;
                        }
                        .up{
                            font-size: 12px;
                        }
                    }

                }

            }

        }
    }
}






.info-nav{
    position: fixed;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    text-align: center;
    background-color: rgb(255, 255, 255);
    width: 100%;
    bottom: 0;
    left: 0;
    height: 60px;
    height: calc(60px + constant(safe-area-inset-bottom));
    height: calc(60px + env(safe-area-inset-bottom));
    z-index: 20;
    padding: 10px 12px 0;
    @media screen and (min-width: 768px) {
        display: none;
    }

    .base{
        position: relative;
        height: 100%;
        font-size: 15px;
        font-weight: 300;
        display: flex;
        flex-direction: column;
        white-space: nowrap;
        flex: 1;
        height: auto;
        @media screen and (max-width: 768px) {
            font-size: 12px;
        }
        .baseicon{
            width: 22px;
            height: 22px;
            margin: 0 auto;
            fill: rgb(0, 0, 0);
            display: none;
            @media screen and (max-width: 768px) {
                display: block;
            }
        }
    }
    .contect{
        position: relative;
        flex: 3;
        width: 40%;
        z-index: 20;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #000;
        height: 40px;
        border-radius: 99px;
        overflow: hidden;
        transition: all 0.3s cubic-bezier(0.75, -1.62, 0.47, 2.27);
        @media screen and (max-width: 768px) {
            width: 60%;
            animation: bigger 5s cubic-bezier(0.75, -1.62, 0.47, 2.27) infinite;
            @keyframes bigger {
                0%,100% {
                    transform: scale(1);
                }
                70% {
                    transform: scale(1);
                }
                75% {
                    transform: scale(1.05);
                }
                90% {
                    transform: scale(1.05);
                }
                95% {
                    transform: scale(1);
                }
                
            }
        }
        @media screen and (min-width: 768px) {
            &:hover{
                height: 48px;
                transform: scale(1.1);
            }
        }
        &:after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: linear-gradient(-75deg, #000000, #979797, #000000);
            animation: shinning 5s linear infinite;
            z-index: 0;
            @keyframes shinning {
                0% {
                  transform: translateX(-100%);
                }
                75% {
                    transform: translateX(-100%);
                }
                90% {
                    transform: translateX(100%);
                }
                100% {
                    transform: translateX(100%);
                }
            }
        }
        .text{
            position: relative;
            display: flex;
            align-items: center;
            text-align: center;
            justify-content: center;
            font-size: 16px;
            font-weight: 500;
            color: #ffcb00;
            z-index: 1;
            .lineicon{
                width: 24px;
                height: 24px;
                fill: #ffcb00;
                margin-right: 8px;
            }
        }


    }


}
/* .m-nav{
    padding: 0 12px;
    .base{
        flex: 1;
        height: auto;
    }
    .contect{
        flex: 3;
    }


} */
